.view-controller {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

.view {
  position: absolute;
  height: auto;
  width: auto;
  inset: 0;
  transition: opacity 250ms ease, transform 250ms ease;
}

.view--inactive {
  opacity: 0;
  display: none;
  pointer-events: none;
  transform: translateY(12px);
}

.view--active {
  display: inherit;
  opacity: 1;
  transform: translateY(0);
}
